# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

/generated

# arquivos de ferramentas de IA, não fazem parte do projeto
.claude/skills
.windsurf
.agents
skills-lock.json
